<% include layout/head %>
<% include layout/header %>
<% include layout/sidebar %>
<title>Gear Store Admin | Nhập hàng</title>
    <div class="table-agile-info p-0">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="col-sm-12 mx-auto ">
                    <h3 class="text-center text-info">Chọn hàng cần nhập</h3>
                    <div class="form-group">
                        <label for="">Loại sản phẩm</label>
                        <select class="form-control" name="" id="TH_loai" onchange="load_san_pham()">
                        <% loai_san_pham.forEach(row => { %>
                            <option value="<%=row._id%>"><%=row.ten_loai%></option>
                        <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Thương hiệu</label>
                        <select class="form-control" name="" id="TH_thuong_hieu" onchange="load_san_pham()">
                        <% thuong_hieu.forEach(row => { %>
                            <option value="<%=row._id%>"><%=row.ten_thuong_hieu%></option>
                        <% }) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Tên sản phẩm</label>
                        <select class="form-control" name="" id="TH_ds_san_pham" onchange="hien_gia_ban()">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Giá bán</label>
                        <input type="text" readonly class="form-control" name="" id="TH_gia_ban">
                    </div>
                    <div class="form-group">
                        <label for="">Giá nhập</label>
                        <input type="number" class="form-control" name="" id="TH_gia_nhap">
                    </div>
                    <div class="form-group">
                        <label for="">Số lượng</label>
                        <input type="number" class="form-control" name="" id="TH_so_luong">
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" onclick="them_danh_sach()" class='btn btn-primary mb-3'>Thêm vào danh
                        sách</button>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <div class="float-right h4 text-danger">Tổng tiền: <span id="TH_tong_tien">123,465</span> VNĐ</div>
                <table id="example"
                    class="table table-striped table-bordered bg-light table-hover d-md-table table-responsive-sm"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Loại hàng</th>
                            <th>Thương hiệu</th>
                            <th>Giá bán</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="TH_ds_nhap">
                    </tbody>
                </table>
                <div class="form-inline justify-content-center">
                        <label for="">Nhà cung cấp</label>
                        <select class="form-control ml-2 w-auto " name="" id="TH_ncc">
                        <% nha_cung_cap.forEach(row => { %>
                            <option value="<%=row._id%>"><%=row.ten_ncc%></option>
                        <% }) %>
                        </select>
                    </div>
                <div class="text-center">
                    <button type="button" class='btn btn-primary my-3' data-toggle="modal" data-target="#modal-xac-nhan">Xác nhận nhập hàng</button>
                    <button type="button" onclick="xoa_nhap_hang()" class='btn btn-info my-3'>Làm lại</button>
                </div>
            </div>

        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modal-xac-nhan" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                Xác nhận nhập hàng...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="nhap_hang()">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
</div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg d-none" id="btn_thong_bao" data-toggle="modal" data-target="#modal-thong-bao">
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="modal-thong-bao" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thong_bao</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body" id="TH_thong_bao">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <% include layout/footer %>
<script>
    load_ds_nhap()
    function load_ds_nhap()
    {
        TH_ds_nhap.innerHTML = ``;
            var nhap_hang;
            if (localStorage.getItem('nhap_hang') == null) {
                nhap_hang = [];
            } else {
                nhap_hang = JSON.parse(localStorage.getItem('nhap_hang'));
            }
            var tongtien=0;
            nhap_hang.forEach(row => {
                tongtien+=Number(row.so_luong)*Number(row.gia_nhap)
                TH_ds_nhap.innerHTML +=
                    `
                <tr>
                    <td>${row.ten_sp}</td>
                    <td>${row.ten_loai}</td>
                    <td>${row.ten_th}</td>
                    <td>${(row.gia_nhap).toLocaleString('en-GB')}</td>
                    <td>${row.so_luong}</td>
                    <td>${(Number(row.so_luong)*Number(row.gia_nhap)).toLocaleString('en-GB')}</td>
                    <td class="text-center"><a href="#" onclick="xoa_1_nhap_hang('${row.ma_sp}')"><i class="fa fa-trash"></i></a></td>
                </tr>
            `
            });
            TH_tong_tien.innerHTML=tongtien.toLocaleString('en-GB')
    }
    function them_danh_sach() {
        if(TH_gia_nhap.value.trim()=='')
        {
            alert('Chưa nhập giá nhập')
            return;
        }
        if(TH_so_luong.value.trim()=='')
        {
            alert('Chưa nhập số lượng')
            return;
        }
        
        var nhap_hang;
        if (localStorage.getItem('nhap_hang') == null) {
            nhap_hang = [];
        } else {
            nhap_hang = JSON.parse(localStorage.getItem('nhap_hang'));
        }
        if(nhap_hang.find(x=>x.ma_sp==TH_ds_san_pham.value)==undefined)
        {
            var sp = {
                'ma_sp': TH_ds_san_pham.value,
                'ten_sp': TH_ds_san_pham.options[TH_ds_san_pham.selectedIndex].text,
                'ma_loai': TH_loai.value,
                'ten_loai': TH_loai.options[TH_loai.selectedIndex].text,
                'ma_th': TH_thuong_hieu.value,
                'ten_th': TH_thuong_hieu.options[TH_thuong_hieu.selectedIndex].text,
                'so_luong':TH_so_luong.value.trim(),
                'gia_nhap':TH_gia_nhap.value.trim(),
                'gia_ban':TH_gia_ban.value.trim()
            }
            nhap_hang.push(sp)
            localStorage.setItem('nhap_hang', JSON.stringify(nhap_hang))
            TH_ds_nhap.innerHTML = ``;
            tongtien=0
            nhap_hang.forEach(row => {
                tongtien+=Number(row.so_luong)*Number(row.gia_nhap)
                TH_ds_nhap.innerHTML +=
                    `
                <tr>
                    <td>${row.ten_sp}</td>
                    <td>${row.ten_loai}</td>
                    <td>${row.ten_th}</td>
                    <td>${(row.gia_nhap).toLocaleString('en-GB')}</td>
                    <td>${row.so_luong}</td>
                    <td>${(Number(row.so_luong)*Number(row.gia_nhap)).toLocaleString('en-GB')}</td>
                    <td class="text-center"><a href="#" onclick="xoa_1_nhap_hang('${row.ma_sp}')"><i class="fa fa-trash"></i></a></td>
                </tr>
            `
            });
            TH_tong_tien.innerHTML=tongtien.toLocaleString('en-GB')
        }


    }
    function xoa_nhap_hang() {
		if (confirm("Xác nhận xoá danh sách nhập hàng")) {
			localStorage.removeItem('nhap_hang')
			window.location = "/admin/nhap-hang"
		}

	}

	function xoa_1_nhap_hang(id) {
		nhap_hang = JSON.parse(localStorage.getItem('nhap_hang'));
		nhap_hang = nhap_hang.filter(x => x.ma_sp != id)
		if (nhap_hang.length == 0) {
			localStorage.removeItem('nhap_hang')
		} else {
			localStorage.setItem('nhap_hang', JSON.stringify(nhap_hang))
        }
        window.location = "/admin/nhap-hang"
    }
    
    function nhap_hang()
	{
        if(localStorage.getItem('nhap_hang')==null || localStorage.getItem('nhap_hang')==undefined)
        {
            alert('Chưa tạo đơn nhập hàng')
            return;
        }
		if(localStorage.getItem('nv_Ten')==null)
		{
			window.location=window.location.origin + "/admin/dang-nhap"
		}
		else
		{
            TH_thong_bao.innerHTML=`Đang xử lý...`
            btn_thong_bao.click();
			var ct=JSON.parse(localStorage.getItem('nhap_hang'))
			var form_data={
            'nv_Id':localStorage.getItem('nv_Id'),
            'ncc_Id': TH_ncc.value,
			'chi_tiet' : localStorage.getItem('nhap_hang')
			}
			$.ajax({
			url: window.location.origin + "/admin/nhap-hang",
			type: "POST",
			data:form_data,
			success: (data) => {
				if(data.errorCode==0)
				TH_thong_bao.innerHTML=`Nhập hàng thành công`
				setTimeout(() => {
					localStorage.removeItem('nhap_hang')
					window.location = "/admin/nhap-hang"
				}, 1500);
				
			}

		})
		}
	}
</script>
    <script>
        $('#TH_thuong_hieu').change()
        function load_san_pham()
        {
            var form_data={
                'ma_loai': TH_loai.value,
                'thuong_hieu': TH_thuong_hieu.value
            }
            $.ajax({
                url: window.location.origin+'/admin/load-nhap-hang',
                type: "POST",
                data: form_data,
                success: (data) => {
                    TH_ds_san_pham.innerHTML=``
                    data.forEach(row => {
                         TH_ds_san_pham.innerHTML+=`
                        <option value="${row._id}">${row.ten_sp}</option>
                        `
                    });
                   hien_gia_ban()
                }
            })
        }
        function hien_gia_ban()
        {
            $.ajax({
                url: window.location.origin+'/admin/load-gia-1-san-pham',
                type: "POST",
                data: {'ma_sp':TH_ds_san_pham.value},
                success: (data) => {
                    TH_gia_ban.value=data.gia_ban.toLocaleString('en-GB') +' VNĐ'
                }
            })
        }
    </script>