<% include layout/head %>
<% include layout/header %>
<section class="wrapper p-0">
    <div class="">
        <div class="panel panel-default">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <a class="h2" href="#">Sản phẩm</a>
                <button class="btn btn-primary my-2 my-sm-0 mr-3 ml-lg-auto" data-toggle="modal"
                    data-target="#modal-add-new"><i class="fa fa-plus"></i> Thêm mới</button>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <div class="float-right">
                        <div class="dropdown-menu dropdown-menu-right bg-success float-right"
                            aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item form-group form-check">
                                <input type="checkbox" class="form-check-input" id="check_img" onclick="check_img()">
                                <label class="form-check-label">Hình ảnh</label>
                            </div>
                            <div class="dropdown-item form-group form-check">
                                <input type="checkbox" class="form-check-input" id="check_status" onclick="check_status()">
                                <label class="form-check-label">Tình trạng</label>
                            </div>
                            <div class="dropdown-item form-group form-check">
                                <input type="checkbox" class="form-check-input" id="check_ban" onclick="check_ban()">
                                <label class="form-check-label">Mã sản phẩm</label>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <table id="table_san_pham" class="table table-striped table-bordered bg-light table-hover d-md-table table-responsive-sm"
                style="width:100%">
                <thead>
                    <tr>
                        <th class="font-weight-bold text-dark table_hinh d-none">Hình</th>
                        <th class="font-weight-bold text-dark table_ban d-none">Mã hàng</th>
                        <th class="font-weight-bold text-dark">Tên hàng</th>
                        <th class="font-weight-bold text-dark">Giá bán</th>
                        <th class="font-weight-bold text-dark">Loại hàng</th>
                        <th class="font-weight-bold text-dark">Số lượng</th>
                        <th class="font-weight-bold text-dark table_status d-none">Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% san_pham.forEach(row => { %>
                    <tr data-toggle="modal" data-target="#modal-detai" onclick="thongtinsp('<%=row._id%>','/static/images/<%=row.loaisp[0].thu_muc_hinh%>/<%=row.hinh_anh%>')">
                        <td class="table_hinh d-none"><img style="width:70px" src="/static/images/<%=row.loaisp[0].thu_muc_hinh%>/<%=row.hinh_anh%>" alt=" " class="img-responsive"/></td>
                        <td class="text-darktable_ban d-none"><%=row._id%></td>
                        <td class="text-dark"><%=row.ten_sp%></td>
                        <td class="text-dark"><%=row.gia_ban.toLocaleString('en-GB')%></td>
                        <td class="text-dark"><%=row.loaisp[0].ten_loai%></td>
                        <td class="text-dark"><%=row.so_luong%></td>
                        <td class="text-dark table_status d-none"><%=row.trang_thai%></td>
                        <th class=""><a href="#" onclick="capnhatsp('<%=row._id%>')"  data-toggle="modal" data-target="#modal-update" style="font-size:18px"><i class="fa fa-pencil-square"><i></a></th>
                    </tr>
                <% }) %>
                    
                </tbody>
            </table>

            <!-- modal chi tiết -->
            <div class="modal fade" id="modal-detai" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Chi tiết sản phẩm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div id='modaldetail'>
                
                                </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="btn_close_detai"
                                data-dismiss="modal">Đóng</button>

                        </div>
                    </div>
                    </div>
                    </div>
            

            <!-- modal thêm mới -->
            <div class="modal fade" id="modal-add-new" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm sản phẩm mới</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input type="text" id="them_ten_sp" class="form-control" placeholder="Nhập tên sản phẩm mới">
                            </div>
                            <div class="form-group">
                                <label>Loại sản phẩm</label>
                                <select class="form-control" id="them_loai_sp">
                                    <% loai_san_pham.forEach(row => { %>
                                    <option value="<%=row._id%>__<%=row.thu_muc_hinh%>"><%=row.ten_loai%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Thương hiệu</label>
                                <select class="form-control" id="them_thuong_hieu">
                                    <% thuong_hieu.forEach(row => { %>
                                    <option value="<%=row._id%>"><%=row.ten_thuong_hieu%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Đơn giá</label>
                                <input type="number" id="them_gia_ban" class="form-control" placeholder="Nhập tên giá bán">
                            </div>
                            <div class="form-group">
                                <label>Bảo hành</label>
                                <input type="number" id="them_bao_hanh" class="form-control" placeholder="Nhập thời gian bảo hành (tháng)">
                            </div>
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <input type="file" id="them_file_hinh" class="form-control-file">
                            </div>

                            <label>Mô tả</label>
                            <textarea name="binh_luan" id="them_noi_dung" class="ckeditor"></textarea>



                        </div>
                        <div class="
                                modal-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-xac-nhan-them">Thêm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_close_them">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- Modal cập nhật-->
            <div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cập nhật sản phẩm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <div id='modalupdate'>

                                </div>
                            </div>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-xac-nhan">Cập nhật</button>
                
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_close_cap_nhat">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            

            <!-- madal load hình -->
            <div class="modal fade" id="modal-loadhinh" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-full" role="document">
                <div class="modal-content">
    
                <div class="modal-body">
                    <div id='dia_chi_img'>

                    </div>
                    
                </div>
    
                </div>
            </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-xac-nhan" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xác nhận cập nhật</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="cap_nhat_san_pham()">Xác nhận</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_close_xac_nhan_cap_nhat">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-xac-nhan-them" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xác nhận thêm mới</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="them_san_pham()">Xác nhận</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_close_xac_nhan_them">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg d-none" id="btn_thong_bao" data-toggle="modal" data-target="#modal-thong_bao">
              
            </button>
            <!-- Modal -->
            <div class="modal fade" id="modal-thong_bao" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body" id="TH_thong_bao">
                            Đang xử lý...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<% include layout/footer %>
<script>
CKEDITOR.replace('them_noi_dung', {
customConfig: 'config_binh_luan.js'
});
</script>
<script>
    $('#table_san_pham').DataTable();
    document.getElementById('table_san_pham_filter').classList.add('float-right')
    document.getElementById('table_san_pham_filter').classList.add('form-inline')
    document.getElementById('table_san_pham_length').classList.add('form-inline')
        document.getElementById('table_san_pham_filter').classList.add('mb-2')
    document.getElementById('table_san_pham_length').classList.add('mb-2')
    document.getElementById('table_san_pham_wrapper').classList.add('pb-4')
</script>
<script>
function them_san_pham()
{
    if(kiem_tra_du_lieu_them()==false)
    {
        return
    }
    btn_close_xac_nhan_them.click();
    btn_close_them.click();
    btn_thong_bao.click()
    var reader = new FileReader()
    var Chuoi_nhi_phan = ""
    reader.onload = function (e) {
        Chuoi_nhi_phan = e.target.result;
        var hinh = {
            "Ten": them_file_hinh.files[0].name,
            "Chuoi_nhi_phan": Chuoi_nhi_phan,
            "thu_muc": them_loai_sp.value.split('__')[1]
        }
        var san_pham = {
            "ten_sp": them_ten_sp.value.trim(),
            "gia_ban": them_gia_ban.value.trim(),
            "ma_loai": them_loai_sp.value.split('__')[0],
            "ma_thuong_hieu": them_thuong_hieu.value.split('__')[0],
            "hinh_anh": them_file_hinh.files[0].name,
            "bao_hanh": them_bao_hanh.value.trim(),
            "noi_dung": CKEDITOR.instances.them_noi_dung.getData()
        }
        var Doi_tuong={
            "hinh":JSON.stringify(hinh),
            "san_pham":JSON.stringify(san_pham)
        }
        Kq = ghi_san_pham_moi(Doi_tuong)
    }
    reader.readAsDataURL(them_file_hinh.files[0])

    

}
function ghi_san_pham_moi(Doi_tuong) {
    $.ajax({
        url: window.location.origin+'/admin/them-san-pham',
        type: "POST",
        data: Doi_tuong,
        success: (data) => {
            TH_thong_bao.innerHTML=data.message
            setTimeout(() => {
                window.location='/admin/san-pham'
            }, 1500);
        }
    })
}
function cap_nhat_san_pham()
{
    if(kiem_tra_du_lieu_cap_nhat()==false)
    {
        return
    }
    btn_close_xac_nhan_cap_nhat.click();
    btn_close_cap_nhat.click();
    btn_thong_bao.click()
    if (file_hinh.files[0]==null || file_hinh.files[0]==undefined) {
        var san_pham = {
            "ten_sp": cn_ten_sp.value.trim(),
            "ma_sp": cn_id_sp.value,
            "gia_ban": cn_gia_ban.value.trim(),
            "ma_loai": cn_loai_sp.value.split('__')[0],
            "ma_thuong_hieu": cn_thuong_hieu.value.split('__')[0],
            "bao_hanh": cn_bao_hanh.value.trim(),
            "noi_dung": CKEDITOR.instances.binh_luan2.getData(),
            "trang_thai": cn_trang_thai.value
        }
        var Doi_tuong={
            "hinh":'',
            "san_pham":JSON.stringify(san_pham),
            "thu_muc": cn_loai_sp.value.split('__')[1]
        }
        $.ajax({
            url: window.location.origin+'/admin/cap-nhat-san-pham',
            type: "POST",
            data: Doi_tuong,
            success: (data) => {
                TH_thong_bao.innerHTML=data.message
                setTimeout(() => {
                    window.location='/admin/san-pham'
                }, 1500);
            }
        })
        
    }
    else
    {
        var Chuoi_nhi_phan = ""
        var reader = new FileReader()
        reader.onload = function (e) {
            Chuoi_nhi_phan = e.target.result;
            var hinh = {
                "Ten": file_hinh.files[0].name,
                "Chuoi_nhi_phan": Chuoi_nhi_phan,
                "thu_muc": cn_loai_sp.value.split('__')[1]
            }
            var san_pham = {
                "ten_sp": cn_ten_sp.value.trim(),
                "ma_sp": cn_id_sp.value,
                "gia_ban": cn_gia_ban.value.trim(),
                "ma_loai": cn_loai_sp.value.split('__')[0],
                "ma_thuong_hieu": cn_thuong_hieu.value.split('__')[0],
                "hinh_anh": file_hinh.files[0].name,
                "bao_hanh": cn_bao_hanh.value.trim(),
                "noi_dung": CKEDITOR.instances.binh_luan2.getData(),
                "trang_thai": cn_trang_thai.value
            }
            var Doi_tuong={
                "hinh":JSON.stringify(hinh),
                "san_pham":JSON.stringify(san_pham)
            }
            $.ajax({
                url: window.location.origin+'/admin/cap-nhat-san-pham',
                type: "POST",
                data: Doi_tuong,
                success: (data) => {
                    TH_thong_bao.innerHTML=data.message
                    setTimeout(() => {
                        window.location='/admin/san-pham'
                    }, 1500);
                }
            })
        }
        reader.readAsDataURL(file_hinh.files[0])
    }
    
}

function kiem_tra_du_lieu_them() {
    if (them_ten_sp.value.trim()=='') {
        alert('Chưa nhập tên sản phẩm')
        them_loai_sp.focus();
        return false;
    }
    if (them_gia_ban.value.trim()=='') {
        alert('Chưa nhập giá sản phẩm')
        them_gia_ban.focus();
        return false;
    }
    if (them_bao_hanh.value.trim()=='') {
        alert('Chưa thời gian bảo hành')
        them_bao_hanh.focus();
        return false;
    }
    if (them_file_hinh.files[0]==null || them_file_hinh.files[0]==undefined) {
        alert('Chưa chọn hình')
        return false;
    }
    return true
}
function kiem_tra_du_lieu_cap_nhat() {
    if (cn_ten_sp.value.trim()=='') {
        alert('Chưa nhập tên sản phẩm')
        cn_ten_sp.focus();
        return false;
    }
    if (cn_gia_ban.value.trim()=='') {
        alert('Chưa nhập giá sản phẩm')
        them_gia_ban.focus();
        return false;
    }
    if (cn_gia_ban.value.trim()=='') {
        alert('Chưa thời gian bảo hành')
        them_bao_hanh.focus();
        return false;
    }
    return true
}
</script>