<% include layout/head %>
<% include layout/header %>
<% include layout/nav %>
<% include thuvien/bodau %>

<div class="container page-container">
    <div class="page home-page custom-container">
        <div class="container page-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span>
                        <a href="/" itemprop="url">
                            <span itemprop="title">Trang chủ</span>
                        </a>
                    </span>
                </li>
                <li class="breadcrumb-item">
                    <strong class="current-item"><%= sanpham[0].ten_sp%></strong>
                </li>
            </ol>
            <div class="page product-details-page product-standard">
                <div>
                    <div class="item-container col d-md-inline-flex d-md-flex px-0">
                        <!--product pictures-->
                        <div class="gallery col-12 col-md-6 pt-lg-0 pt-3 px-0">
                            <div class="zoom mb-1" style="position: relative; overflow: hidden;">
                                <a class="fancybox"
                                    href="/static/images/<%= sanpham[0].loaisp[0].thu_muc_hinh%>/<%= sanpham[0].hinh_anh%>"
                                    title="1" data-fancybox-group="gallery">
                                    <img class="img-fluid" alt="Picture of Apple MacBook Pro 13-inch"
                                        src="/static/images/<%= sanpham[0].loaisp[0].thu_muc_hinh%>/<%= sanpham[0].hinh_anh%>">
                                </a>
                            </div>
                            <div class="thumbnails">
                                <a class="thumb-popup-link fancybox"
                                    href="/static/images/<%= sanpham[0].loaisp[0].thu_muc_hinh%>/<%= sanpham[0].hinh_anh%>"
                                    title="2" data-fancybox-group="gallery">
                                    <img class="img-thumbnail" alt="Picture of Apple MacBook Pro 13-inch"
                                        src="/static/images/<%= sanpham[0].loaisp[0].thu_muc_hinh%>/<%= sanpham[0].hinh_anh%>">
                                </a>
                                <a class="thumb-popup-link fancybox"
                                    href="/static/images/<%= sanpham[0].loaisp[0].thu_muc_hinh%>/<%= sanpham[0].hinh_anh%>"
                                    title="3" data-fancybox-group="gallery">
                                    <img class="img-thumbnail" alt="Picture of Apple MacBook Pro 13-inch"
                                        src="/static/images/<%= sanpham[0].loaisp[0].thu_muc_hinh%>/<%= sanpham[0].hinh_anh%>">
                                </a>
                            </div>
                        </div>
                        <div class="overview col-12 col-md-6">
                            <h2 class="generalTitle" itemprop="name">
                                <%= sanpham[0].ten_sp%>
                            </h2>
                            <div class="short-description generalMarginSupporter">

                            </div>
                            <!--product reviews-->
                            <div class="quickview-reviews">
                                <div class="product-reviews-overview d-inline-flex align-items-center flex-wrap"
                                    itemprop="aggregateRating" itemscope=""
                                    itemtype="http://schema.org/AggregateRating">
                                    <div class="product-review-box d-inline-block">
                                        <div class="rating">
                                            <div class="rating-ghost">
                                                ☆☆☆☆☆
                                            </div>
                                            <div class="rating-real" style="width: <%= diem_trung_binh(sanpham[0].diem_so)%>%">
                                                ★★★★★
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--availability-->
                            <div class="availability generalMarginSupporter">
                                <div class="stock">
                                    <span class="label">Tình trạng:</span>
                                    <span class="value">
                                    <% if (sanpham[0].trang_thai=="kinh doanh") { %>
                                        Còn hàng
                                    <% } else { %>
                                     Hết hàng
                                    <% } %>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-12 px-0">
                                <span itemprop="price" content="1800.00"
                                    class="actual-price price-value-5c861fb357d5a11c90420fee">
                                    <strong class="actual-price"><%= sanpham[0].gia_ban.toLocaleString()%> VNĐ</strong>
                                </span>
                            </div>
                            <div class="col-lg-12 generalAdToCart px-0 my-3">
                                <div class="btn-group product-simple-share my-2 d-inline-flex flex-wrap">
                                    <input type="button" id="<%= sanpham[0]._id%>" class="btn btn-info btnAdd w-100"
                                        value="Thêm vào giỏ">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 mt-2 mb-2 px-0">
                        <ul class="nav nav-tabs product-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#desc" role="tab"
                                    aria-controls="desc" aria-selected="true"><span class="d-none d-md-block">Mô
                                        tả</span><span class="material-icons d-md-none">description</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                                    aria-controls="spec" aria-selected="false"><span class="d-none d-md-block">Đánh giá
                                        (<%= sanpham[0].binh_luan.length%>)</span><span
                                        class="material-icons d-md-none">rate_review</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                    aria-controls="contact" aria-selected="false"><span class="d-none d-md-block">Gửi
                                        đánh giá</span><i class="material-icons d-md-none">message</i></a>
                            </li>
                        </ul>
                        <div class="tab-content" id="product_tab_content">
                            <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab"
                                itemprop="description">
                                <%- sanpham[0].noi_dung%>
                            </div>
                            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">

                                <div class="mb-4">
                                    <a class="btn btn-sm btn-outline-secondary">Danh sách bình luận</a>
                                </div>

                                <div class="product-review-list">
                                    <table id="table_binh_luan" class="table table-bordered table-responsive d-md-table">
                                    <thead class="d-none">
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                    </tr>
                                </thead>
                                        <tbody>
                                            <% sanpham[0].binh_luan.forEach(row => {%>
                                            <tr>
                                                <th><%= row.khach_hang.ho_ten%></th>
                                                <td class="w-100"><%= row.noi_dung%></td>

                                            </tr>
                                            <%});%>
                                        </tbody>
                                    </table>

                                </div>


                            </div>
                            <div class="tab-pane fade" id="contact">
                                <div id="contact-us-product">
                                    <fieldset class="form-group">
                                        <label class="col-form-label" for="">Điểm:</label>
                                          <select class="form-control w-auto" name="" id="TH_diem_so">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5" selected>5</option>
                                          </select>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label class="col-form-label" for="">Nội dung:</label>
                                        <textarea placeholder="nhập nội dung" class="form-control ask-question-message"
                                            id="AskQuestionMessage"></textarea>
                                    </fieldset>
                                    <div class="buttons generalMarginSupporter pt-1 pb-1">
                                        <input type="button" name="send-email"
                                            class="btn btn-info send-ask-question-button" onclick="gui_binh_luan('<%= sanpham[0]._id%>')" value="Gửi">
                                    </div>

                                </div>

                                <div class="card bg-danger product-contact-error">
                                    <div class="card-body text-white"></div>
                                </div>

                                <div class="card bg-info product-contact-send">
                                    <div class="card-body text-white"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 related-products-grid product-grid px-0 mt-5">
                        <h2 class="h3 generalTitle text-center">Sản phẩm cùng loại</h2>
                        <div class="flex-row d-flex row">
                            <% sanpham_cungloai.forEach(sp => {%>
                            <div class="col-lg-3 col-sm-6 col-6">
                                <div class="card gen border p-1">
                                    <a class="picture"
                                        href="/chitiet/<%= bo_dau(sp.ten_sp)%>/<%= sp._id%>/<%= sp.ma_loai%>"
                                        title="Xem chi tiết <%= sp.ten_sp%>">
                                        <img class="card-img-top img-fluid" alt="Xem chi tiết <%= sp.ten_sp%>"
                                            src="/static/images/<%= sp.loaisp[0].thu_muc_hinh%>/<%= sp.hinh_anh%>"
                                            title="Xem chi tiết <%= sp.ten_sp%>">
                                    </a>
                                    <div class="card-body p-0">
                                        <div class="card-buttons">
                                            <div class="btn-group">
                                                <input type="button" class="btn btn-info btnAdd" value="Thêm vào giỏ">
                                                <button type="button" value="Quick View" title="Xem nhanh"
                                                    class="btn btn-secondary btn-quick-view" data-toggle="modal" onclick="quick_view_click('<%= sp._id%>')"
                                                    data-target="#modal-quick-search">
                                                    <span class="sr-only">Xem nhanh</span>
                                                    <span class="material-icons mat">
                                                        search
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body-content">
                                            <h3 class="h6 card-title mb-0">
                                                <strong><a
                                                        href="/lenovo-thinkpad-x1-carbon-laptop"><%= sp.ten_sp%></a></strong>
                                            </h3>


                                            <div class="col-12 px-0">
                                                <div class="product-rating-box" title="1 review(s)">
                                                    <div class="rating">
                                                        <div class="rating-ghost">
                                                            ☆☆☆☆☆
                                                        </div>
                                                        <div class="rating-real" style="width: <%= diem_trung_binh(sp.diem_so)%>%">
                                                            ★★★★★
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-inline-flex pb-0 pt-0">

                                                <div class="p-0 pr-2 align-self-center actual-price-container">
                                                    <span class="h5 card-subtitle">
                                                        <span
                                                            class="price actual-price"><%= sp.gia_ban.toLocaleString()%>
                                                            VNĐ</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <%});%>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg d-none" data-toggle="modal" id='btn_thong_bao_binh_luan' data-target="#modal_binh_luan">
</button>
<!-- Modal -->
<div class="modal fade" id="modal_binh_luan" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body" id="TH_thong_bao_binh_luan">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<% include layout/footer %>
<script>
    if(sessionStorage.getItem('khach_hang_Id')==null){
        document.getElementById('contact-us-product').innerHTML=`
        <div class="buttons generalMarginSupporter pt-1 pb-1" onclick="window.location='/dangnhap'">
            <input type="button" name="send-email"
                class="btn btn-info send-ask-question-button" value="Vui lòng đăng nhập">
        </div>
        `
    }
</script>
<script>
    function gui_binh_luan(id_sp)
    {
        btn_thong_bao_binh_luan.click()
        TH_thong_bao_binh_luan.innerHTML=`Đang xử lý`
        var form_data={
            'diem':TH_diem_so.value,
            'noi_dung': AskQuestionMessage.value,
            'id_sp': id_sp,
            'id_kh':sessionStorage.getItem('khach_hang_Id')
        }
        $.ajax({
            url: window.location.origin+'/chitiet/binhluan',
            type: "POST",
            data: form_data,
            success: (data) => {
                console.log(data)
                TH_thong_bao_binh_luan.innerHTML=data.message
                if(data.errorCode==0)
                {
                    setTimeout(() => {
                        window.location=window.location.pathname
                    }, 1500);
                }
            }
        })

    }
</script>
<script>
$(document).ready(function() {
    $('#table_binh_luan').DataTable();
    table_binh_luan_info.innerHTML=``
    table_binh_luan_filter.innerHTML=``
} );
</script>
