<% include layout/head %>
<% include layout/header %>
<% include layout/nav %>
<% include thuvien/bodau %>
<div class="container page-container">
	<div class="page home-page custom-container">
		<% include layout/slider %>
		<div class="generalMarginSupporter">
			<h2 class="generalTitle text-sm-center">Cảm ơn bạn đã đến Gear Store</h2>
		</div>

		<div class="categoryGrid">
			<div class="flex-grid row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2">
					<div class="card pb-0">
						<div class="list-picture">
							<a href="/tivi" title="">
								<img class="img-fluid img-thumbnail" alt="Hình ảnh tivi" src="/static/images/tivi.jpg"
									title="Hình ảnh tivi">
							</a>
						</div>
						<div class="list-title mt-3 text-center">
							<h3 class="h5 card-title m-0 p-0">
								<a href="/tivi">
									Tivi
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2">
					<div class="card pb-0">
						<div class="list-picture">
							<a href="/tulanh" title="">
								<img class="img-fluid img-thumbnail" alt="Hình ảnh tủ lạnh"
									src="/static/images/tulanh.jpg" title="Hình ảnh tủ lạnh">
							</a>
						</div>
						<div class="list-title mt-3 text-center">
							<h3 class="h5 card-title m-0 p-0">
								<a href="/tulanh">
									Tủ lạnh
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2">
					<div class="card pb-0">
						<div class="list-picture">
							<a href="/maylanh" title="">
								<img class="img-fluid img-thumbnail" alt="Hình ảnh máy lạnh"
									src="/static/images/maylanh.jpg" title="Hình ảnh máy lạnh">
							</a>
						</div>
						<div class="list-title mt-3 text-center">
							<h3 class="h5 card-title m-0 p-0">
								<a href="/maylanh">
									Máy lạnh
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2">
					<div class="card pb-0">
						<div class="list-picture">
							<a href="/maygiat" title="">
								<img class="img-fluid img-thumbnail" alt="Hình ảnh máy giặt"
									src="/static/images/maygiat.png" title="Hình ảnh máy giặt">
							</a>
						</div>
						<div class="list-title mt-3 text-center">
							<h3 class="h5 card-title m-0 p-0">
								<a href="/maygiat">
									Máy giặt
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2">
					<div class="card pb-0">
						<div class="list-picture">
							<a href="/dienthoai" title="">
								<img class="img-fluid img-thumbnail" alt="Hình ảnh điện thoại"
									src="/static/images/dienthoai.jpg" title="Hình ảnh điện thoại">
							</a>
						</div>
						<div class="list-title mt-3 text-center">
							<h3 class="h5 card-title m-0 p-0">
								<a href="/dienthoai">
									Điện thoại
								</a>
							</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-2">
					<div class="card pb-0">
						<div class="list-picture">
							<a href="/laptop" title="">
								<img class="img-fluid img-thumbnail" alt="Hình ảnh laptop"
									src="/static/images/laptop.jpg" title="Hình ảnh laptop">
							</a>
						</div>
						<div class="list-title mt-3 text-center">
							<h3 class="h5 card-title m-0 p-0">
								<a href="/laptop">
									Laptop
								</a>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="home-page-product-grid generalMarginSupporter">
			<h2 class="generalTitle text-center">Sản phẩm mới</h2>
			<div class="row px-3">
				<% for(var i=0; i<sanpham.length; i++) {%>
				<div class="col-xl-3 col-lg-4 col-sm-6 col-6 product-container ">
					<div class="card gen border">
						<a class="picture" href="/chitiet/<%= bo_dau(sanpham[i].ten_sp)%>/<%= sanpham[i]._id%>/<%= sanpham[i].ma_loai%>"
							title="Xem chi tiết <%= sanpham[i].ten_sp%>">
							<img class="card-img-top img-fluid" alt="Picture of HTC One M8 Android L 5.0 Lollipop"
								src="/static/images/<%= sanpham[i].loaisp[0].thu_muc_hinh%>/<%= sanpham[i].hinh_anh%>"
								title="Xem chi tiết <%= sanpham[i].ten_sp%>">
						</a>
						<span class="new-product-label bg-info text-white">Mới</span>
						<div class="card-body p-0">
							<div class="card-buttons">
								<div class="btn-group">
									<input type="button" class="btn btn-info btnAdd" data_id="<%= sanpham[i]._id%>" value="Thêm vào giỏ">
									<button type="button" onclick="quick_view_click('<%= sanpham[i]._id%>')" value="Quick View" title="Xem nhanh"
										class="btn btn-secondary btn-quick-view" data-toggle="modal"
										data-target="#modal-quick-search">
										<span class="sr-only">Xem nhanh</span>
										<span class="material-icons mat">
											search
										</span>
									</button>
								</div>
							</div>
							<div class="card-body-content px-1">
								<h3 class="h6 card-title mb-0">
									<strong><a href="/htc-one-m8-android-l-50-lollipop"><%= sanpham[i].ten_sp%></a></strong>
								</h3>

								<div class="col-12 px-0">
									<div class="product-rating-box" title="0 review(s)">
										<div class="rating">
											<div class="rating-ghost">
												☆☆☆☆☆
											</div>
											<div class="rating-real" style="width: <%= diem_trung_binh(sanpham[i].diem_so)%>%">
												★★★★★
											</div>
										</div>
									</div>
								</div>
								<div class="d-inline-flex pb-0 pt-0">

									<div class="p-0 pr-2 align-self-center actual-price-container">
										<span class="h5 card-subtitle">
											<span class="price actual-price"><%= (sanpham[i].gia_ban).toLocaleString()%> VNĐ</span>
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<%};%>
			</div>

		</div>

		<div class="home-page-product-grid generalMarginSupporter">
			<h2 class="generalTitle text-center">Sản phẩm bán chạy</h2>
			<div class="row px-3" id="TH_danh_sach_ban_chay">
				
			</div>

		</div>

	</div>
</div>
<% include layout/footer %>
<script>
function xep_theo_so_luong_ban(arr) {
    arr = arr.sort((a, b) => {
		return parseInt(a.gia_ban) - parseInt(b.gia_ban)
	})
    return arr;
}
function xuat_danh_sach(arr)
{
	TH_danh_sach_ban_chay.innerHTML=``;
	arr.forEach(row => {
		TH_danh_sach_ban_chay.innerHTML+=`
		<div class="col-xl-3 col-lg-4 col-sm-6 col-6 product-container">
			<div class="card gen border">
				<a class="picture" href="/chitiet/${bo_dau(row.ten_sp)}/${row._id}/${row.ma_loai}"
					title="Xem chi tiết ${row.ten_sp}">
					<img class="card-img-top img-fluid" alt="Xem chi tiết ${row.ten_sp}"
						src="/static/images/${row.loaisp[0].thu_muc_hinh}/${row.hinh_anh}"
						title="Xem chi tiết ${row.ten_sp}">
				</a>
				<span class="change-percent bg-danger text-white">
					<span>Hot</span>
				</span>
				<div class="card-body p-0">
					<div class="card-buttons">
						<div class="btn-group">
							<input type="button" id="add_${row._id}" onclick="them_1_gio_hang('${row._id}')" class="btn btn-info" value="Thêm vào giỏ">
							<button type="button" value="Quick View" title="Xem nhanh" onclick="quick_view_click('${row._id}')"
								class="btn btn-secondary btn-quick-view" data-toggle="modal"
								data-target="#modal-quick-search">
								<span class="sr-only">Xem nhanh</span>
								<span class="material-icons mat">
									search
								</span>
							</button>
						</div>
					</div>
					<div class="card-body-content px-1">
						<h3 class="h6 card-title mb-0">
							<strong><a href="/chitiet/${bo_dau(row.ten_sp)}/${row._id}/${row.ma_loai}">${row.ten_sp}</a></strong>
						</h3>
						<div class="col-12 px-0">
							<div class="product-rating-box" title="1 review(s)">
								<div class="rating">
									<div class="rating-ghost">
										☆☆☆☆☆
									</div>
									<div class="rating-real" style="width: ${diem_trung_binh(row.diem_so)}%">
										★★★★★
									</div>
								</div>
							</div>
						</div>
						<div class="d-inline-flex pb-0 pt-0">

							<div class="p-0 pr-2 align-self-center actual-price-container">
								<span class="h5 card-subtitle">
									<span class="price actual-price">${(row.gia_ban).toLocaleString()} VNĐ</span>
								</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		`
	});
}
$(document).ready(function () {
	$.ajax({
		url: window.location.origin,
		type: "POST",
		success: (data) => {
			var kq=xep_theo_so_luong_ban(JSON.parse(data))
			xuat_danh_sach(kq.splice(0,8));
		}
	})
});

</script>