<!doctype html>
<html lang="en">

<head>
  <title>Gear Store | In hóa đơn</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="/js/qrcode.min.js"></script>
  <script>
    function tao_qrcode(id) {
      id_qrcode.innerHTML = ``
      var qrcode = new QRCode("id_qrcode", {
        text: id,
        width: 100,
        height: 100,
        colorDark: "#000000",
        colorLight: "#ffffff"
      });
    }
  </script>

</head>

<body>
<div class="d-none" id="ma_hd">
  <%= hoadon[0].ma_hd %>
</div>
  <div class="container">
    <div id="id_qrcode" class="my-3 float-left"></div>
    <div class="text-center">
      <h1>Tên cửa hàng</h1>
      <p>01234456789 10:AM-22PM</p>
      <p>Địa chỉ</p>
    </div>
    <div class="float-left">
      <p>Hóa đơn: <%= hoadon[0].ma_hd %></p>
      <p>Khách hàng: <%= hoadon[0].khach_hang[0].ho_ten %></p>
    </div>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên hàng</th>
          <th>SL</th>
          <th>Giá</th>
          <th>Thành Tiền</th>
        </tr>
      </thead>
      <tbody id="TH_table_in_hd">
        <% tongtien=0%>
        <% for( let i = 0; i < hoadon[0].chi_tiet.length; i++ ) { tongtien+=(hoadon[0].chi_tiet[i].gia_ban)*(hoadon[0].chi_tiet[i].so_luong)%>
        <tr>
          <td><%=i+1%></td>
          <td><%= hoadon[0].chi_tiet[i].san_pham.ten_sp %></td>
          <td><%=hoadon[0].chi_tiet[i].so_luong%></td>
          <td><%=(hoadon[0].chi_tiet[i].gia_ban).toLocaleString('en-GB')%></td>
          <td><%=((hoadon[0].chi_tiet[i].gia_ban)*(hoadon[0].chi_tiet[i].so_luong)).toLocaleString('en-GB')%></td>
        </tr>
        <% } %>
      </tbody>
  </div>
  </table>
  <p class="float-right">Tổng tiền: <%= tongtien.toLocaleString('en-GB')%> VNĐ</p>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(function () {
      tao_qrcode(ma_hd.innerHTML)
      window.print();
    });
  </script>
</body>

</html>